#recontainer{
  margin: 0 auto;/*实现水平居中*/
  width: 885px;/*元素要有固定的宽度*/
}
#menuDiv li{
  float:left;
  width: 78px;
  border: 1px;
  line-height: 20px;
  text-align: center;
  background: #CCC;
  margin-left: 10px;

}
#reg{
  text-align: center;
  font-weight:bold;

}
/*body>div只设置bidy下的第一层；div,p同时设置;div p所以内部等等具体内容在css选择器里边的知识点*/
fieldset{
  padding: 9px;
  border: 1px solid gray;
  margin-top: 13px;
}
fieldset div{
  margin-bottom: 8px;
}

label[for]{
  cursor:pointer;/*显示收型*/
  padding-right: 12px;/*设置男女之间的距离*/
  padding-left: 2px;
}
input[type="file"],#privateDiv
{
  width: 70%;
}
/*个人说明可以用浮动的方式来完成的*/
#personalDes{
  height:50px;
  width:85px;
  display:block;
  float:left;
}
#submitDiv{

  margin-top: 10px;
  padding: 5px 50px;
  text-align: center;
}
input[type=submit],input[type=reset]{
  width:80px;
  padding: 5px 5px;

}
#registerDiv input[type="text"],input[type="password"]{
  width: 300px;
  height: 30px;
  border-radius:6px;border:1px solid #000;
}
#publicDiv label{
  margin-right: 50px;
}
#privateDiv label{
margin-right:80px;
}