<!DOCTYPE html>
{% extends 'base.html' %}

<html lang="en">
<head>
    {% load staticfiles %}
    {% block title %}Status{% endblock %}
    {% block css %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel = "stylesheet" href = "/static/css/contest-status.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"><!--第三方引用-->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <script src = "/static/js/bootstrap.min.js"></script>
    <script src = "/static/js/jquery-3.2.1.min.js"></script>
    {% endblock %}
</head>

<body>
{% block content %}
{% load pagination_tags %}<!--分页-->
{% autopaginate statuses 15 %}<!--分页-->
<!--TODO-->
<!--提示信///////////////////////息框-->
<!--<div class = "container">-->
<!--<iv id = "contest-message" class = "alert alert-info" data-date = "#" data-contestid = "#">-->
<!--<span class = "close" data-dismiss = "alert">&times;</span>-->
<!--<a  class = "hot" href = "#"></a>-->
<!--</iv>-->
<!--</div>-->

<div class = "container">
    <form id = "status-form"class = "form-inline hidden-xs hidden-sm" action = "{% url 'contest:status' 1 %}" method = "post">
        {% csrf_token %}
        <fieldset>
            <input type="hidden" name="cid" value="#" />
            <label class="control-label">From</label>
            <input class="form-control" type="text" style = "width:8%;" name="runID" />
            <label class="control-label">Pro.ID</label>
            <input class="form-control" type="text"  style = "width:8%;" name="proId"/>
            <label class="control-label">Author</label>
            <input class="form-control" type="text" name="userName"  style = "width:8%;" />
            <label class="control-label">Language</label>
            <select class="form-control" name="language"  style = "width:8%;">
                <option value="All" selected="selected">All</option>
                <option value="C">C</option>
                <option value="C++">C++</option>
                <option value="Java">Java</option>
            </select>
            <label class="control-label">Status</label>
            <!--运行状态-->
            <select class="form-control" name="status">
                <option value="All" >All</option>
                <option value="1" style="color:green">Accepted</option>
                <option value="3" style="color:red">Wrong Answer</option>
                <option value="2" style="color:orange">Presentation Error</option>
                <option value="8" style="color:orange">Compilation Error</option>
                <option value="7" style="color:orange">Runtime Error</option>
                <option value="4" style="color:purple">Time Limit Exceeded</option>
                <option value="5" style="color:purple">Memory Limit Exceeded</option>
                <option value="6" style="color:purple">Output Limit Exceeded</option>
                <option value="9" style="color:purple">Compile Output Limit</option>
            </select>
            <input type="submit" class="form-control btn btn-default" value="Go" />
        </fieldset>
    </form>
    <div style="text-align: center">
        <table class="table table-bordered table-striped table-center table-condensed">
            <thead>
            <tr>
                <th style="width: 8%;text-align: center;">RunID</th>
                <th style="width: 6%;text-align: center">Problem</th>
                <th style ="width:8%;text-align: center">Judge States</th>
                <th style="width: 8%;text-align: center">Time</th>
                <th style="width: 8%;text-align: center">Memory</th>
                <th style="width: 10%;text-align: center">Language</th>
                <th style="width: 18%;text-align: center;">Submit Time</th>
                <th style="width: 16%;text-align: center">Author</th>
            </tr>
            </thead>
            <tbody>
            <!--TODO-->
            {% for status in statuses  %}
            <tr>
                <td style = "ext-align: center;">{{status.runID}}</td>
                <td style = "text-align: center;">{{status.probID}}</td>
                {% if 'Queueing' == status.result %}
                <td style = "text-align: center; color:orange">{{status.result}}
                    {% elif 'Accepted' == status.result %}
                <td style = "text-align: center;color:green">{{status.result}}
                    {% elif 'Wrong Answer' == status.result %}
                <td style = "text-align: center; color:red">{{status.result}}
                    {% elif 'Presentation Error' == status.result %}
                <td style = "text-align: center;color:orange">{{status.result}}
                    {% elif 'Compilation Error' == status.result %}
                <td style = "text-align: center; color:orange">{{status.result}}
                    {% elif 'Runtime Error' == status.result %}
                <td style = "text-align: center;color:orange">{{status.result}}
                    {% elif 'Time Limit Exceeded' == status.result %}
                <td style = "text-align: center; color:purple">{{status.result}}
                    {% elif 'Memory Limit Exceeded' == status.result %}
                <td style = "text-align: center;color:purple">{{status.result}}
                    {% elif 'Output Limit Exceeded' == status.result %}
                <td style = "text-align: center; color:purple">{{status.result}}
                    {% else%}
                <td style = "text-align: center;color:purple">{{status.result}}
                    {% endif %}

                </td>
                <td style = "text-align: center;">{{status.time}} ms</td>
                <td style = "text-align: center;">{{status.memory}} MB</td>
                {% if request.user.is_superuser or request.session.user_name == request.user %}
                <td style = "text-align: center;"><a href="{% url 'contest:check' status.runID %}">{{status.language}}</a></td>
                {% else %}
                <td style = "text-align: center;">{{status.language}}</td>
                {% endif %}
                <td style = "text-align: center;">{{status.subTime}}</td>
                <td style = "text-align: center;">{{status.userName}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% paginate using "page.html" %}<!--分页-->
    </div>
</div>
<script language="JavaScript">
function myrefresh() {
    window.location.reload();
}
setTimeout('myrefresh()', 5000); //指定5秒刷新一次
</script>
</body>
{% endblock %}
</html>